<div id="main">
  <div id="flightsList">

  </div>
  <div id="planeSeatsDisplay"></div>
</div>

<script id="appView" type="text/template">
  <h1> Search Flights </h1>
  <div id="search">
    <select name="origin" id="origin">

    </select>
    <select name="destination" id="destination">

    </select>
    <button>Search</button>
  </div>
</script>

<script id="resultsView" type="text/template">
  <div>
    <p>Flight Search Results</p>
    <table id="flights-table">
      <thead>
        <th>
          <td>Date</td>
          <td>Flight</td>
          <td>From > To </td>
          <td>Plane</td>
        </th>
      </thead>
      <tbody id="flights">
      </tbody>
    </table>
  </div>
</script>

<script id="flightView" type="text/template">
  <table>
  <thead>
    <th>
      <td>Date</td>
      <td>Flight Number</td>
      <td>Route</td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>{{= date}}</td>
      <td>Flight {{= number}}</td>
      <td>{{=origin}} > {{=destination}}</td>
      <td>{{= columns}}</td>
    </tr>
  </tbody>
  </table>
</script>

<script id="planeView" type="text/template">
  <div id="planeLayout">
    <p>Plane Layout:</p>
    <p>{{= columns}}</p>
    <table class="seats">
      <tr>
        <td></td>
        <td> </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>
  <div id="selectSeat">
    <div id="seatSelected"></div>
    <button id="confirmSeat">Select Seat</button>
  </div>
</script>
