<div id="main">
</div>
<script id="appView" type="text/template">
  <h1> Search Flights </h1>
  <div id="search">
    <input type="text" name="origin" id="origin" placeholder="Source">
    <input type="text" name="destination" id="destination" placeholder="Destination">
    <button>Search</button>
  </div>
</script>

<script id="resultsView" type="text/template">
  <ul id="flights">

  </ul>
</script>

<script id="flightView" type="text/template">
  <h1>{{= number }} Details</h1>
  <h2>Origin: {{= origin }} </h2>
  <h2>Destination: {{= destination }} </h2>
  <h3>Date: {{= date}}</h3>
  <p>Plane Layout:</p>
  <!-- <p>Rows: {{#= airplane.rows }}</p>
  <p>Columns: {{#= airplane.columns }}</p> -->
</script>
