<div id="main">
  <div id="flightsList">

  </div>
  <div id="planeSeatsDisplay"></div>
</div>

<script id="appView" type="text/template">
  <h1> Search Flights </h1>
  <div id="search">
    <select name="origin" id="origin">

    </select>
    <select name="destination" id="destination">

    </select>
    <button>Search</button>
  </div>
</script>

<script id="resultsView" type="text/template">
  <div>
    <p>Flight Search Results</p>
    <table id="flights-table">
      <thead>
        <th>
          <td>Date</td>
          <td>Flight</td>
          <td>From > To </td>
          <td>Plane</td>
        </th>
      </thead>
      <tbody id="flights">
      </tbody>
    </table>
  </div>
</script>

<script id="flightView" type="text/template">
  <table>
  <thead>
    <th>
      <td>Date</td>
      <td>Flight Number</td>
      <td>Route</td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>{{= date}}</td>
      <td>Flight {{= number}}</td>
      <td>{{=origin}} > {{=destination}}</td>
    </tr>
  </tbody>
  </table>
  <table class="seats">
    {{ var alphabets = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split(''); }}
    {{ _(columns).times(function(n){ }}
      <tr>
        {{ _(rows).times(function(i){ }}
          <td class="planeSeats" id="{{=alphabets[n] + (i+1)}}">
            {{=alphabets[n] + (i+1)}} avail
          </td>
        {{ }) }}
      </tr>
    {{ }) }}
  </table>
  <div id="selectSeat">
    <p id="seatSelected"></p>
    <button id="confirmSeat">Select Seat</button>
  </div>
</script>

<script id="planeView" type="text/template">
  <div id="planeLayout">
    <p>Plane Layout:</p>
    <p>{{= columns}}</p>
    <table class="seats">
      <tr>
        <td></td>
        <td> </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>

</script>
