<div id="main">
</div>

<script id="appView" type="text/template">
  <h1> Search Flights </h1>
  <div id="search">
    <!-- <input type="text" name="origin" id="origin" placeholder="Source">
    <input type="text" name="destination" id="destination" placeholder="Destination"> -->
    <select name="origin" id="origin">

    </select>
    <select name="destination" id="destination">

    </select>
    <button>Search</button>
  </div>
  <!-- <ul id="flightsTable"> -->
    <p>Flight Search Results</p>
    <table>
      <tbody id="flights">
        <thead>
          <th>
            <td>Date</td>
            <td>Flight</td>
            <td>From > To </td>
            <td>Plane</td>
          </th>
        </thead>
      </tbody>


    </table>
  <!-- </ul> -->
</script>

<script id="resultsView" type="text/template">
  <ul id="flights">

  </ul>
</script>

<script id="flightView" type="text/template">
  <table>
  <thead>
    <th>
      <td>Date</td>
      <td>Flight Number</td>
      <td>Route</td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>{{= date}}</td>
      <td>Flight {{= number}}</td>
      <td>{{=origin}} > {{=destination}}</td>
    </tr>
  </tbody>
  </table>

  <div id="planeLayout">
    <p>Plane Layout:</p>
    <table class="seats">
      <tr>
        <td></td>
        {{ (@airplane.rows).times do |row| }}
        <td> {{= row+1 }}</td>
        {{ end }}
      </tr>
      {{ (@airplane.columns).times do |col| }}
      <tr>
        <td>
          {{= (('A'..'Z').to_a)[col] }}
        </td>
        {{ (@airplane.rows).times do |row| }}
        <td class="planeSeats" id="{{= (('A'..'Z').to_a)[col]+(row+1).to_s }}">
          avail
        </td>
        {{ end }}
      </tr>
      {{ end }}
    </table>
  </div>
  <div id="selectSeat">
    <div id="seatSelected"></div>
    <button id="confirmSeat">Select Seat</button>
  </div>
</script>
