// Place all the styles related to the Airplanes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// div.cell {
//     width: 20px;
//     height: 20px;
//     border: 1px solid red;
//     float: left;
//     margin-left: 1.5em;
//     margin-top: 1.5em;
// }
//
// div.longrow {
//     margin-left: 1.5em;
//     margin-top: 1.5em;
//     clear: both;
// }



table.flightindex, table.airplaneindex{
  width: 160%;
  border: 1px solid black;
}

th.flightindex, th.airplaneindex{
    text-align: center;
    background-color: #F2F2F2;
}


td.flightindex, td.airplaneindex{
    height: 20px;
    vertical-align: bottom;
    /*border-bottom: 1px solid #ddd;*/
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

h1 {
  font-family:sans-serif;
}


// _from.html.erb
label {
   width: 200px;
   display: inline-block;
   text-align: left;
}

.field {
   width: 500px;
   display: inline-block;
   text-align: left;
}

.airplanebuttons{
      background-color: #2AB2C2;
      border: none;
      border-radius: 2em;
      color: white;
      padding: 8px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin: 4px 2px;
      cursor: pointer;
}
