// Place all the styles related to the Airplanes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.cell {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    float: left;
    margin-left: 1.5em;
    margin-top: 1.5em;
}

div.longrow {
    margin-left: 1.5em;
    margin-top: 1.5em;
    clear: both;
}

div.container{
    display: block;
    margin:0 auto;

}
