// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#flightsdisplay{
  margin: 0 auto;
  text-align: justify;
}


.flightbuttons{
      background-color: #2AB2C2;
      border: none;
      border-radius: 2em;
      color: white;
      padding: 8px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin: 4px 2px;
      cursor: pointer;
}
